.speech{color:black; font-family:"Times"; font-size: 12px;}
.stage-direction{color:black; font-family: "sans-serif"; font-size: 12px; background-color: lightcyan;}
.stage-direction:hover{color: yellow; background-color: lightblue;}
.SIRROBERTCHILTERN{color: red;}
.LORDGORING{color:seagreen;}
.name{color:black; font-family: "Arial"; font-size: 16px;}

